{% extends 'base_layout.html' %}

{% block head %}
<title>Login</title>
{% endblock %}
{% block content %}
 <h2>Login</h2>
<div class="login">
<form class="site-form" action="{% url 'accounts:login'%}" method="post" >
    {% csrf_token %}
    {{form}}
    {% if request.GET.next %}
       <input type="hidden" name="next" value="{{request.GET.next}}">
    <p>Login is required !</p>
    {% endif %}
  <input type="submit" value="Login"> 
</form>
</div>
 <br><br><br><br><br><br><br><br><br><br>
{% endblock  %}