
{% extends 'base_layout.html' %}
{% load staticfiles %}
{% block head %}
<title>Home</title>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{% endblock %}
{% block content%}
    <br>
     
    
         
    {% for article in articles %}


              <div class="card mb-4" style=" border: 1px solid #00bfa5 !important;">
            <div>
               <div class="row">
                <div class="col-4 profile-img">
                {% if article.author.userprofile.image %}
                <img src="{{ article.author.userprofile.image.url }}"  alt="">
                {% else %}
                    {% load staticfiles%}
                <img src="{% static 'profile.jpg'%}" style="border-radius:50%; ">
                {% endif %}
                </div>
                <div class="col-8f float-left name-city">
                   <h4 style="text-transform: capitalize; color: grey">{{article.author.first_name}}  {{article.author.last_name}}</h4>
                    <br>
                    <p style="font-size: : 14px; color: grey">
                            
                       <i class="fa fa-map-marker" aria-hidden="true"></i>
                        {{article.author.userprofile.city}}</p>
                </div>
                </div>   
            </div>
            <img class="card-img-top" src="{{ article.thumb.url }}"  alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title"><a href="{% url 'articles:detail' slug=article.slug %}" class="title" style="    color: #00bfa5;
">{{ article.title }}</a></h2>
              <p class="card-text" style="color: dimgray"> {{ article.snippet  }}<span><a href="{% url 'articles:detail' slug=article.slug %}" style="color: darkgray">  ...See More</a></span></p>
               <!-- 
              <a href="{% url 'articles:detail' slug=article.slug %}" class="btn btn-primary" style="    background-color: #00bfa5;
    border-color: #00bfa5;">See More &rarr;</a>-->
            </div>
            <div class="card-footer text-muted">
              Posted on {{ article.date }}  
            
            </div>
          </div>
       {% endfor %}

        
{% endblock %}