{% extends 'base_layout.html' %}
{% block head %}
<title>{{article.slug}}</title>
{% endblock %}
{% block content %}

<br>
              <div class="card mb-4" style=" border: 1px solid #00bfa5 !important;">
            <div>
               <div class="row">
                <div class="col-4 profile-img">
                {% if article.author.userprofile.image %}
                <img src="{{ article.author.userprofile.image.url }}"  alt="">
                {% else %}
                    {% load staticfiles%}
                <img src="{% static 'profile.jpg'%}" style="border-radius:50%; ">
                {% endif %}
                </div>
                <div class="col-8f float-left name-city">
                   <h4 style="text-transform: capitalize; color: grey">{{article.author.first_name}}  {{article.author.last_name}}</h4>
                    <br>
                    <h6 style="font-size: : 14px;color: grey">
                           <i class="fa fa-map-marker" aria-hidden="true"></i>
                        
                       <i class="fas fa-map-marker-alt" style="color: grey"></i>
                                    {{article.author.userprofile.city}}</h6>
                </div>
                </div>   
            </div>
            <img class="card-img-top" src="{{ article.thumb.url }}"  alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title"><a href="{% url 'articles:detail' slug=article.slug %}" class="title" style="    color: #00bfa5;
">{{ article.title }}</a></h2>
              <p class="card-text" style="color: dimgray"> {{ article.body  }} </p>
              
            </div>
            <div class="card-footer text-muted">
              Posted on {{ article.date }}  by
              
            </div>
          </div>
       
<!--<div class="article-detail">
    
    <div class="article">
        <img src="{{ article.thumb.url }}" />
        <h2>{{ article.title }}</h2>
        
        <p>{{ article.body }}</p>
        <p>{{ article.date }}</p>
        <h3>Written by {{ article.author.username }}</h3>
    </div>
</div>-->
{% endblock %}